<!DOCTYPE html>
<html lang="en">
<%-include("partials/head")%>
<body>
    <%-include("partials/header")%>
    <div class="error container">

    <iconify-icon icon="ic:round-error-outline" width="200" height="200"></iconify-icon>

    <h1><%=titulo%></h1>

    <h2><%=descripcion%></h2>
    
    </div>



<%-include("partials/footer")%>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>